{% extends 'blog/base.html' %}

{% block content %}
    <div class="profile_name">
        {{ user_profile.username }} profile
    </div>
    <div class="profile_info">
        some user's info
    </div>
     <p style="font-size: 30px; text-align: center"> {{ user_profile.username }} posts </p>
    {% for post in posts reversed %}

        <div class="post">
            <div class="author">
                {{ post.author }}
            </div>
            <div class="date">
                {{ post.published_date }}
            </div>

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            <hr>
        </div>

    {% endfor %}
{% endblock %}